.topContent {
  height: 300px;
  padding-top: var(--jea-padding-m);
  padding-bottom: var(--jea-padding-m);
}

.bottomContent {
  height: calc(100vh - 380px);
  gap: var(--jea-margin-m);
}

.bottomContent > div {
  height: 100%;
}

.leftContent {
  flex: 1.5;
  background-color: red;
}

.middleContent {
  flex: 1.5;
  border-radius: var(--jea-radius-secundary);
  overflow: hidden;
}

.rightContent {
  flex: 1;
  background-color: var(--jea-color-bgCards);
  padding: var(--jea-padding-xs);
  border-radius: var(--jea-radius-secundary);
  overflow-y: scroll;
}

@media (max-width: 940px) {
  .topContent {
    height: auto;
    flex-direction: column;
    padding-top: var(--jea-padding-s);
  }

  .bottomContent {
    height: auto;
    flex-direction: column;
  }

  .middleContent {
    width: 90%;
  }
  .rightContent {
    width: 90%;
    margin-bottom: var(--jea-margin-l);
  }
}
