.timeTown {
  flex: 3;
  height: 100%;
  width: 90%;
}

.optionsTime.displayFlex {
  height: 30px;
  width: 100%;
  padding: var(--jea-padding-xs);
  justify-content: space-between;
}

.optionsTime > ul {
  gap: var(--jea-gap-m);
  cursor: pointer;
}

.optionsTime li {
  color: var(--jea-color-desactive);
}

li.activeTime {
  font-weight: 500;
  color: var(--jea-color-font);
}

.timeDays {
  height: 270px;
  width: 100%;
  gap: var(--jea-gap-l);
  padding: var(--jea-padding-s);
}

@media (max-width: 750px) {
  .timeTown {
    width: 95%;
  }
  .timeDays:has(.dayTime) {
    overflow-x: scroll;
    justify-content: flex-start;
  }
}
