.dayTime .dayName {
  height: 20%;
  width: 100%;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--jea-color-font-special);
  background-color: var(--jea-color-bgSpecial-secundary);
}

.dayTime .tempImg,
.dayTime .dayInfo {
  padding: var(--jea-padding-s);
}

.dayTime .tempImg {
  height: 30%;
  width: 100%;
  justify-content: space-between;
}

.dayTime .tempImg > p {
  font-size: 2rem;
  width: 100px;
}

.dayTime .dayInfo {
  height: 50%;
  width: 90%;
  padding-top: 0;
}

.dayTime .dayInfo * {
  font-size: 0.9rem;
  text-align: start;
}

.dayTime .dayInfo span {
  color: var(--jea-color-font-special);
}
