@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  color: var(--jea-color-font);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100dvh;
  background-color: var(--jea-color-bg);
}

:root {
  /* COLORS */
  --jea-color-bg: #ececec;
  --jea-color-bgCards: #cbcbcb;
  --jea-color-bgSpecial: #bbd7ec;
  --jea-color-items: #6ab9ff;
  --jea-color-font: #000000;
  --jea-color-button: #d9d9d9;

  /* FONT SIZES */
  --jea-font-xl: 36px;
  --jea-font-l: 20px;
  --jea-font-m: 16px;
  --jea-font-s: 12px;
  --jea-font-xs: 10px;

  /* SPACINGS */

  /* RADIUS */
  --jea-radius-primary: 20px;
  --jea-radius-secundary: 10px;
  --jea-radius-buttons: 5px;

  /* PADDING */
  --jea-padding-xs: 5px;
  --jea-padding-s: 10px;
  --jea-padding-m: 20px;
  --jea-padding-l: 30px;
  --jea-padding-xl: 40px;

  /* MARGIN */
  --jea-margin-s: 10px;
  --jea-margin-m: 20px;
  --jea-margin-l: 30px;
  --jea-margin-xl: 40px;

  /* GAP */
  --jea-gap-s: 5px;
  --jea-gap-m: 10px;
  --jea-gap-l: 15px;
  --jea-gap-xl: 25px;
}

/*! @media (max-width: 750px) { */

[data-theme="dark"] {
  --jea-color-bg: #202020;
  --jea-color-bgCards: #333333;
  --jea-color-bgSpecial: #bbd7ec;
  --jea-color-items: #bad4eb;
  --jea-color-font: #ffffff;
  --jea-color-button: #d9d9d9;
}

.displayFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 750px) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 5px;
  }
}
